aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
audioop-lts==0.2.1
babel
beautifulsoup4
bleach
blinker
brotli
cached-property
certifi
charset-normalizer
click
cryptography
debugpy
requests
urllib3
zstandard==0.23.0

