aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
audioop-lts
babel
beautifulsoup4
bleach
blinker
brotli
cached-property
certifi
charset-normalizer
click
cryptography
discord.py
debugpy
requests
urllib3
zstandard==0.23.0

